<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/styleHead') %>
    <title>Hub</title>
</head>
<body>
    <%- include('../../partials/hubBar') %>
    <main id="container" class="home">
        <section id="news">
            <h1>Nyheter!</h1>
            <div id="content">
                <% news.forEach(element => { %>
                    <div class="<%= element._id %>">
                        <h2><%= element.title %></h2>
                        <p>
                            <%= element.content %>
                        </p>
                        <i><%= element.sender %> -- <%= element.date %></i>
                    </div>
                <% }) %>
            </div>
        </section>
        <section id="important">
            <h1>Viktigt! (Prov, etc.)</h1>
            <div id="content">

            </div>
        </section>
        <section id="messages">
            <h1>Meddelanden</h1>
            <div id="content">

            </div>
        </section>
    </main>
    <%- include('../../partials/settings') %>
    <script src="/scripts/loadVars.js"></script>
</body>
</html>